<!--<label>Server Name</label>-->
<!--&lt;!&ndash;<input type="text"-->
<!--        class="form-control"-->
<!--        (input)="onUpdateServer($event)">&ndash;&gt;-->
<!--<input type="text"-->
<!--       class="form-control"-->
<!--       [(ngModel)]="serverName">-->
<!--&lt;!&ndash;<p>{{serverName}}</p>&ndash;&gt;-->
<!--<button class="btn btn-primary" [disabled]="!allowNerServer" (click)="onCreateServer()">Add server</button>-->
<!--&lt;!&ndash;<p [innerText]="allowNerServer"></p>&ndash;&gt;-->
<!--<p *ngIf="serverCreated">Server was created,server name is {{ serverName }}</p>-->
<!--<app-server *ngFor="let server of servers">-->
<!--  {{server}}-->
<!--</app-server>-->

